<div class="container ">
    <div class="row d-flex justify-content-center">
        <div class="col col-md-12 col-lg-6 col-sm-12 col-11 p-3 m-2" style="background-color: cornflowerblue; border-radius: 1em;">
            <p style="text-align: center; " >
                <span style="font-family: monospace; color: maroon; font-size: large;">Ciudad: {{Info.city ? Info.city : 'Desconocida'}}, </span>
                <span style="font-family: Georgia, 'Times New Roman', Times, serif; color: indigo; ">Pais: {{Info.country_name}}, </span> 
                <span style="font-family: 'Courier New', Courier, monospace; color: lawngreen;">Hora: {{hora}}:{{minutos}}</span>
            </p>
        </div>
    </div>
</div>